<html>
<head>
<meta charset="utf-8">
<title>Form submission through body.</title>
</head>
<body>
<form method="GET" action="/">
<input type="text" name="q">
<input type="submit">
<h1>The value submitted to form is and it comes from url since form method is GET: {{ . }}</h1>
</form>
</body>
</html>