<html>
<head>
<meta charset='UTF-8'>
<title>Go web programming</title>
</head>
<body>
<h1>Parsing index.gohtml file and then creating index.html and writing the content to index.html</h1>
</body>
</html>