<html>
<head>
<meta charset="UTF-8">
<title>Formatted and Unformatted date and time<title>
</head>
<body>
 <h1>Unformatted version of date-time: {{ . }}</h1>
 <h1>Formatted version of date-time: {{ formatDate . }}</h1>
 <h1>Formmated version of time: {{ formatTime . }}</h1>
</body>
</html>