<html>
<head>
<meta charset="UTF-8">
<title>Passing Data into nested templates</title>
</head>
<body>
The passed argument value for . is: {{ . }} <br/> 
Below is the content coming from nested template: <hr/>
{{ template "polarbear" . }}
</body>
</html>