<html>
<head>
<meta charset="UTF-8">
<title>Nested Templates.</title>
</head>
<body>
The argument value for . is: {{ . }}
Below content is coming from nested template:
{{ template "polarbear" }}
</body>
</html>